# flyctl launch added from .gitignore
# **/.env
**/*.log
**/.vscode
**/.prettierignore

# flyctl launch added from vendor/github.com/gin-contrib/cors/.gitignore
vendor/github.com/gin-contrib/cors/**/*.o
vendor/github.com/gin-contrib/cors/**/*.a
vendor/github.com/gin-contrib/cors/**/*.so

vendor/github.com/gin-contrib/cors/**/_obj
vendor/github.com/gin-contrib/cors/**/_test

vendor/github.com/gin-contrib/cors/**/*.[568vq]
vendor/github.com/gin-contrib/cors/**/[568vq].out

vendor/github.com/gin-contrib/cors/**/*.cgo1.go
vendor/github.com/gin-contrib/cors/**/*.cgo2.c
vendor/github.com/gin-contrib/cors/**/_cgo_defun.c
vendor/github.com/gin-contrib/cors/**/_cgo_gotypes.go
vendor/github.com/gin-contrib/cors/**/_cgo_export.*

vendor/github.com/gin-contrib/cors/**/_testmain.go

vendor/github.com/gin-contrib/cors/**/*.exe
vendor/github.com/gin-contrib/cors/**/*.test
vendor/github.com/gin-contrib/cors/**/*.prof

vendor/github.com/gin-contrib/cors/**/coverage.out

# flyctl launch added from vendor/github.com/gin-gonic/gin/.gitignore
vendor/github.com/gin-gonic/gin/**/vendor/*
!vendor/github.com/gin-gonic/gin/**/vendor/vendor.json
vendor/github.com/gin-gonic/gin/**/coverage.out
vendor/github.com/gin-gonic/gin/**/count.out
vendor/github.com/gin-gonic/gin/**/test
vendor/github.com/gin-gonic/gin/**/profile.out
vendor/github.com/gin-gonic/gin/**/tmp.out

# flyctl launch added from vendor/github.com/go-playground/locales/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/go-playground/locales/**/*.o
vendor/github.com/go-playground/locales/**/*.a
vendor/github.com/go-playground/locales/**/*.so

# Folders
vendor/github.com/go-playground/locales/**/_obj
vendor/github.com/go-playground/locales/**/_test

# Architecture specific extensions/prefixes
vendor/github.com/go-playground/locales/**/*.[568vq]
vendor/github.com/go-playground/locales/**/[568vq].out

vendor/github.com/go-playground/locales/**/*.cgo1.go
vendor/github.com/go-playground/locales/**/*.cgo2.c
vendor/github.com/go-playground/locales/**/_cgo_defun.c
vendor/github.com/go-playground/locales/**/_cgo_gotypes.go
vendor/github.com/go-playground/locales/**/_cgo_export.*

vendor/github.com/go-playground/locales/**/_testmain.go

vendor/github.com/go-playground/locales/**/*.exe
vendor/github.com/go-playground/locales/**/*.test
vendor/github.com/go-playground/locales/**/*.prof

# flyctl launch added from vendor/github.com/go-playground/universal-translator/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/go-playground/universal-translator/**/*.o
vendor/github.com/go-playground/universal-translator/**/*.a
vendor/github.com/go-playground/universal-translator/**/*.so

# Folders
vendor/github.com/go-playground/universal-translator/**/_obj
vendor/github.com/go-playground/universal-translator/**/_test

# Architecture specific extensions/prefixes
vendor/github.com/go-playground/universal-translator/**/*.[568vq]
vendor/github.com/go-playground/universal-translator/**/[568vq].out

vendor/github.com/go-playground/universal-translator/**/*.cgo1.go
vendor/github.com/go-playground/universal-translator/**/*.cgo2.c
vendor/github.com/go-playground/universal-translator/**/_cgo_defun.c
vendor/github.com/go-playground/universal-translator/**/_cgo_gotypes.go
vendor/github.com/go-playground/universal-translator/**/_cgo_export.*

vendor/github.com/go-playground/universal-translator/**/_testmain.go

vendor/github.com/go-playground/universal-translator/**/*.exe
vendor/github.com/go-playground/universal-translator/**/*.test
vendor/github.com/go-playground/universal-translator/**/*.prof
vendor/github.com/go-playground/universal-translator/**/*.coverprofile

# flyctl launch added from vendor/github.com/go-playground/validator/v10/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/go-playground/validator/v10/**/*.o
vendor/github.com/go-playground/validator/v10/**/*.a
vendor/github.com/go-playground/validator/v10/**/*.so

# Folders
vendor/github.com/go-playground/validator/v10/**/_obj
vendor/github.com/go-playground/validator/v10/**/_test
vendor/github.com/go-playground/validator/v10/**/bin

# Architecture specific extensions/prefixes
vendor/github.com/go-playground/validator/v10/**/*.[568vq]
vendor/github.com/go-playground/validator/v10/**/[568vq].out

vendor/github.com/go-playground/validator/v10/**/*.cgo1.go
vendor/github.com/go-playground/validator/v10/**/*.cgo2.c
vendor/github.com/go-playground/validator/v10/**/_cgo_defun.c
vendor/github.com/go-playground/validator/v10/**/_cgo_gotypes.go
vendor/github.com/go-playground/validator/v10/**/_cgo_export.*

vendor/github.com/go-playground/validator/v10/**/_testmain.go

vendor/github.com/go-playground/validator/v10/**/*.exe
vendor/github.com/go-playground/validator/v10/**/*.test
vendor/github.com/go-playground/validator/v10/**/*.prof
vendor/github.com/go-playground/validator/v10/**/*.test
vendor/github.com/go-playground/validator/v10/**/*.out
vendor/github.com/go-playground/validator/v10/**/*.txt
vendor/github.com/go-playground/validator/v10/**/cover.html
vendor/github.com/go-playground/validator/v10/**/README.html

# flyctl launch added from vendor/github.com/goccy/go-json/.gitignore
vendor/github.com/goccy/go-json/**/cover.html
vendor/github.com/goccy/go-json/**/cover.out

# flyctl launch added from vendor/github.com/joho/godotenv/.gitignore
vendor/github.com/joho/godotenv/**/.DS_Store

# flyctl launch added from vendor/github.com/json-iterator/go/.gitignore
vendor/github.com/json-iterator/go/vendor
vendor/github.com/json-iterator/go/bug_test.go
vendor/github.com/json-iterator/go/coverage.txt
vendor/github.com/json-iterator/go/.idea

# flyctl launch added from vendor/github.com/leodido/go-urn/.gitignore
vendor/github.com/leodido/go-urn/**/*.exe
vendor/github.com/leodido/go-urn/**/*.dll
vendor/github.com/leodido/go-urn/**/*.so
vendor/github.com/leodido/go-urn/**/*.dylib

vendor/github.com/leodido/go-urn/**/*.test

vendor/github.com/leodido/go-urn/**/*.out
vendor/github.com/leodido/go-urn/**/*.txt

vendor/github.com/leodido/go-urn/**/vendor

# flyctl launch added from vendor/github.com/lib/pq/.gitignore
vendor/github.com/lib/pq/**/.db
vendor/github.com/lib/pq/**/*.test
vendor/github.com/lib/pq/**/*~
vendor/github.com/lib/pq/**/*.swp
vendor/github.com/lib/pq/**/.idea
vendor/github.com/lib/pq/**/.vscode

# flyctl launch added from vendor/github.com/modern-go/reflect2/.gitignore
vendor/github.com/modern-go/reflect2/vendor
vendor/github.com/modern-go/reflect2/coverage.txt

# flyctl launch added from vendor/github.com/pelletier/go-toml/v2/.gitignore
vendor/github.com/pelletier/go-toml/v2/**/test_program/test_program_bin
vendor/github.com/pelletier/go-toml/v2/**/fuzz
vendor/github.com/pelletier/go-toml/v2/**/cmd/tomll/tomll
vendor/github.com/pelletier/go-toml/v2/**/cmd/tomljson/tomljson
vendor/github.com/pelletier/go-toml/v2/**/cmd/tomltestgen/tomltestgen
vendor/github.com/pelletier/go-toml/v2/**/dist

# flyctl launch added from vendor/go.opencensus.io/.gitignore
vendor/go.opencensus.io/.idea

# go.opencensus.io/exporter/aws
vendor/go.opencensus.io/exporter/aws

# Exclude vendor, use dep ensure after checkout:
vendor/go.opencensus.io/vendor/github.com
vendor/go.opencensus.io/vendor/golang.org
vendor/go.opencensus.io/vendor/google.golang.org

# flyctl launch added from vendor/golang.org/x/net/http2/.gitignore
vendor/golang.org/x/net/http2/**/*~
vendor/golang.org/x/net/http2/**/h2i/h2i

# flyctl launch added from vendor/golang.org/x/sys/unix/.gitignore
vendor/golang.org/x/sys/unix/**/_obj
vendor/golang.org/x/sys/unix/**/unix.test

# flyctl launch added from vendor/gopkg.in/mail.v2/.gitignore


# Binaries for programs and plugins
vendor/gopkg.in/mail.v2/**/*.exe
vendor/gopkg.in/mail.v2/**/*.dll
vendor/gopkg.in/mail.v2/**/*.so
vendor/gopkg.in/mail.v2/**/*.dylib

# Test binary, build with `go test -c`
vendor/gopkg.in/mail.v2/**/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
vendor/gopkg.in/mail.v2/**/*.out


# IDE's
vendor/gopkg.in/mail.v2/**/.idea
