{{define "subject"}}Welcome to OfferLand!{{end}}

{{define "plainBody"}}
Hi {{.username}}!,

Thanks for signing up OfferLand.
Here is your activation code {{.passcode}}

Thanks,

The OfferLand Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
    <p>Hi {{.username}}!</p>
    <p>Thanks for signing up <Strong>OfferLand</Strong>
    <p>Here is your activation code {{.passcode}}</p>
    <p>Thanks,</p>
    <p>The OfferLand Team</p>
</body>

</html>
{{end}}