{{define "subject"}}Password Reset{{end}}

{{define "plainBody"}}
Hi {{.username}}!

We have received a request to reset your password. If you did not make this request, please ignore this email.
Please follow the link below to reset your password.
{{.resetLink}}

Thanks,

The OfferLand Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
    <p>Hi {{.username}}!</p>
    <p>We have received a request to reset your password. If you did not make this request, please ignore this email.</p>
    <p>Please follow the link below to reset your password.</p>
    <a href="{{.resetLink}}">Reset Password</a>
    <p>Thanks,</p>
    <p>The OfferLand Team</p>
</body>

</html>
{{end}}